* {
    box-sizing: border-box;
    margin: 0;
}
.nav-links{
    background-color: black;
}
.nav-links ul {
    text-align: end;
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    padding: 12px 20px;

}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 50px;
   
}

.card {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: auto 50px;
    
    
}
div{
    text-align: center;
    padding: 20px;
}
.card h2{
    font-weight: 900;
}
.card-1{
    background-color: aqua;
}
.card-2{
    background-color: aquamarine;
}
.card-3{
    background-color: brown;
}